In [2]:
import pandas as pd
import numpy as np

In [3]:
import pandas as pd
import warnings 
# import geopandas as gpd
import numpy as np
# from shapely.geometry import Polygon, LineString, Point
warnings.filterwarnings(action='ignore')

from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from scipy.spatial.distance import cdist, pdist
from sklearn.preprocessing import StandardScaler

In [4]:
plt.rcParams['font.family'] = 'Malgun Gothic'

## 경감지수 전처리

### 학교정보 및 상담 데이터

In [25]:
# 필요한 파일 출력
councel = pd.read_csv('서울시고등학교_교육여건_상담.csv', encoding='cp949')
school_info = pd.read_csv('서울시고등학교_기본정보.csv', encoding='cp949')
police_loc = pd.read_csv('경찰청_경찰관서 위치.csv', encoding='cp949')
cctv_loc = pd.read_csv('서울시CCTV_방범.csv', encoding='cp949')

In [27]:
print(councel.info())
print(school_info.info())
print(cctv_loc.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   구                       320 non-null    object
 1   학교명                     320 non-null    object
 2   학교코드                    320 non-null    object
 3   내부상담_실시여부               320 non-null    int64
 4   외부상담_실시여부               320 non-null    int64
 5   wee클래스_운영여부             320 non-null    int64
 6   학교폭력_예방교육_평균교육시간(1학급당)  320 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 17.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   지역              320 non-null    object
 1   학교코드            320 non-null    object
 2   학교명             320 non-null    object
 3   설립구분            320 non-null    object
 4   학교특성            320 non-null    object
 5   설립유형            320 non-null    object
 6   개교기념일           320 non-null    int64
 7   법정동코드           320 non-null    int64
 8   위도              320 non-null    float64
 9   경도              320 non-null    float64
 10  남녀공학
 구분      320 non-null    object
 11  학급당 학생수         320 non-null    float64
 12  수업 교원 1인당 학생수   320 non-null    float64
 13  학급수             320 non-null    int64
 14  학생수             320 non-null    int64
 15  학생수_남           320 non-null    int64
 16  학생수_여           320 non-null    int64
 17  교사수             320 non-null    int64
 18  교사1인당_주당평균수업시수  320 non-null    float64
dtypes: float64(5), int64(7), object(7)
memory usage: 47.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29518 entries, 0 to 29517
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구      29518 non-null  object
 1   CCTV 용도  29518 non-null  object
 2   위도       29518 non-null  float64
 3   경도       29518 non-null  float64
 4   CCTV 수량  29518 non-null  int64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.1+ MB
None

In [6]:
# 학교 기본정보 + 교육여건_상담 데이터 병합
school_info = school_info[['학교코드','위도','경도','법정동코드']]
school = pd.merge(councel, school_info, on='학교코드', how='left')
school.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 320 entries, 0 to 319
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   구                       320 non-null    object
 1   학교명                     320 non-null    object
 2   학교코드                    320 non-null    object
 3   내부상담_실시여부               320 non-null    int64
 4   외부상담_실시여부               320 non-null    int64
 5   wee클래스_운영여부             320 non-null    int64
 6   학교폭력_예방교육_평균교육시간(1학급당)  320 non-null    float64
 7   위도                      320 non-null    float64
 8   경도                      320 non-null    float64
 9   법정동코드                   320 non-null    int64
dtypes: float64(3), int64(4), object(3)
memory usage: 27.5+ KB

In [7]:
police_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   청       274 non-null    object
 1   서       274 non-null    object
 2   지구대파출소  274 non-null    object
 3   X좌표     274 non-null    float64
 4   Y좌표     274 non-null    float64
dtypes: float64(2), object(3)
memory usage: 10.8+ KB

In [8]:
Police_station = police_loc.rename({'X좌표':'경도','Y좌표':'위도'},axis=1)
Police_station

       청        서   지구대파출소          경도         위도
0    서울청  서울강남경찰서   논현1파출소  127.029316  37.513791
1    서울청  서울강남경찰서   논현2파출소  127.033875  37.515220
2    서울청  서울강남경찰서   삼성1파출소  127.060440  37.514852
3    서울청  서울강남경찰서   삼성2파출소  127.048063  37.511289
4    서울청  서울강남경찰서  서울강남경찰서  127.067177  37.509036
..   ...      ...      ...         ...        ...
269  서울청  서울혜화경찰서  종로5가파출소  127.001606  37.570727
270  서울청  서울혜화경찰서    창신파출소  127.013702  37.578482
271  서울청  서울혜화경찰서    혜화파출소  127.001422  37.586135
272  서울청  서울혜화경찰서    효제파출소  127.003606  37.574259
273  서울청      서울청      서울청  126.972072  37.575060

[274 rows x 5 columns]

In [9]:
# !pip install haversine

### 학교 500m 내 경찰관서수

In [11]:
from tqdm.notebook import tqdm
from tqdm import tqdm, tqdm_notebook

from haversine import haversine

In [11]:
# 경찰관서수 구하는 함수 
def close_ps(school, Police_station, column) : 
    for i in tqdm(range(len(school))) : 
        distance = [] 
        for j in range(len(Police_station)) : 
            schoolloc = tuple(school[['경도','위도']].iloc[i])
            Police_stationloc = tuple(Police_station[['경도','위도']].iloc[j])
            distance.append(haversine(schoolloc, Police_stationloc, unit = 'm'))
            
        distance = [d for d in distance if d <= 500] 
        school[column][i] = len(distance)
        
    return school

In [12]:
school["500미터내_파출소개수"] = 0
school = close_ps(school, Police_station, "500미터내_파출소개수")

100%|████████████████████████████████████████████████████████████████████████████████| 320/320 [01:49<00:00,  2.91it/s]

In [13]:
school.groupby('500미터내_파출소개수').count()

,구,학교명,학교코드,내부상담_실시여부,외부상담_실시여부,wee클래스_운영여부,학교폭력_예방교육_평균교육시간(1학급당),위도,경도,법정동코드
500미터내_파출소개수,,,,,,,,,,
0,165,165,165,165,165,165,165,165,165,165
1,121,121,121,121,121,121,121,121,121,121
2,30,30,30,30,30,30,30,30,30,30
3,4,4,4,4,4,4,4,4,4,4

In [15]:
# school.to_csv('경감지수_전처리.csv', index=False)

## 구별 CCTV 대수 데이터

In [5]:
school = pd.read_csv('경감지수_전처리.csv')
school

,구,학교명,학교코드,내부상담_실시여부,외부상담_실시여부,wee클래스_운영여부,학교폭력_예방교육_평균교육시간(1학급당),위도,경도,법정동코드,500미터내_파출소개수
0,강남구,개포고등학교,S010000373,1,1,1,382.4,37.484959,127.059405,1168010300,0
1,강남구,경기고등학교,S010000375,1,0,1,152.4,37.517566,127.056074,1168010500,1
2,강남구,경기여자고등학교,S010000376,1,1,1,200.0,37.486887,127.065567,1168010300,0
3,강남구,국립국악고등학교,S000003540,0,0,0,217.4,37.476230,127.051476,1168010300,1
4,강남구,단국대학교부속소프트웨어고등학교,S010000581,0,1,0,300.0,37.495617,127.057767,1168010600,0
...,...,...,...,...,...,...,...,...,...,...,...
315,성동구,무학여자고등학교,S010000436,1,1,1,253.3,37.556768,127.033599,1120010700,1
316,성동구,서울방송고등학교,S010000585,1,1,1,87.6,37.547773,127.011036,1120011300,1
317,성동구,성수고등학교,S010005523,1,1,1,406.6,37.547342,127.038253,1120011400,0
318,성동구,성수공업고등학교,S010000592,1,0,1,306.5,37.540540,127.051298,1120011500,1
319,성동구,한양대학교사범대학부속고등학교,S010000557,1,1,1,137.0,37.561919,127.042326,1120010600,1

In [6]:
CCTV = pd.read_csv('서울시CCTV_방범.csv',encoding='cp949', thousands = ',')
CCTV

       자치구 CCTV 용도         위도          경도  CCTV 수량
0      중랑구      방범  37.580608  127.083908        2
1      중랑구      방범  37.588905  127.097982        2
2      중랑구      방범  37.581651  127.089158        2
3      중랑구      방범  37.599900  127.090018        2
4      중랑구      방범  37.593811  127.092786        2
...    ...     ...        ...         ...      ...
29513  강남구      방범  37.519440  127.038720        4
29514  강남구      방범  37.530720  127.031450        4
29515  강남구      방범  37.494170  127.063010        3
29516  강남구      방범  37.530148  127.023759        3
29517  강남구      방범  37.509550  127.053830        4

[29518 rows x 5 columns]

In [7]:
CCTV = CCTV.iloc[:,:-1]

In [8]:
CCTV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29518 entries, 0 to 29517
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구      29518 non-null  object
 1   CCTV 용도  29518 non-null  object
 2   위도       29518 non-null  float64
 3   경도       29518 non-null  float64
dtypes: float64(2), object(2)
memory usage: 922.6+ KB

In [12]:
# cctv대수 구하는 함수 
def close_CCTV(school, CCTV, column) : 
    for i in tqdm(range(len(school))) : 
        distance = [] 
        for j in range(len(CCTV)) : 
            schoolloc = tuple(school[['경도','위도']].iloc[i])
            CCTVloc = tuple(CCTV[['경도','위도']].iloc[j])
            distance.append(haversine(schoolloc, CCTVloc, unit = 'm'))
            
        distance = [d for d in distance if d <= 500] 
        school[column][i] = len(distance)
        
    return school

In [ ]:
school["500미터내_CCTV개수"] = 0
school = close_CCTV(school, CCTV, "500미터내_CCTV개수")

 25%|███████████████████▊                                                           | 80/320 [49:52<2:33:10, 38.29s/it]

In [ ]:
school.to_csv('임시저장.csv',index=False)

In [20]:
data_reduce = pd.merge(school,CCTV,on='구',how='left')
data_reduce.head()

,구,학교명,학교코드,내부상담_실시여부,외부상담_실시여부,wee클래스_운영여부,학교폭력_예방교육_평균교육시간(1학급당),위도,경도,법정동코드,500미터내_파출소개수,방범용CCTV,어린이보호구역CCTV
0,강남구,개포고등학교,S010000373,1,1,1,382.4,37.484959,127.059405,1168010300,0,4525,0
1,강남구,경기고등학교,S010000375,1,0,1,152.4,37.517566,127.056074,1168010500,1,4525,0
2,강남구,경기여자고등학교,S010000376,1,1,1,200.0,37.486887,127.065567,1168010300,0,4525,0
3,강남구,국립국악고등학교,S000003540,0,0,0,217.4,37.476230,127.051476,1168010300,1,4525,0
4,강남구,단국대학교부속소프트웨어고등학교,S010000581,0,1,0,300.0,37.495617,127.057767,1168010600,0,4525,0

In [21]:
data_reduce

,구,학교명,학교코드,내부상담_실시여부,외부상담_실시여부,wee클래스_운영여부,학교폭력_예방교육_평균교육시간(1학급당),위도,경도,법정동코드,500미터내_파출소개수,방범용CCTV,어린이보호구역CCTV
0,강남구,개포고등학교,S010000373,1,1,1,382.4,37.484959,127.059405,1168010300,0,4525,0
1,강남구,경기고등학교,S010000375,1,0,1,152.4,37.517566,127.056074,1168010500,1,4525,0
2,강남구,경기여자고등학교,S010000376,1,1,1,200.0,37.486887,127.065567,1168010300,0,4525,0
3,강남구,국립국악고등학교,S000003540,0,0,0,217.4,37.476230,127.051476,1168010300,1,4525,0
4,강남구,단국대학교부속소프트웨어고등학교,S010000581,0,1,0,300.0,37.495617,127.057767,1168010600,0,4525,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,성동구,무학여자고등학교,S010000436,1,1,1,253.3,37.556768,127.033599,1120010700,1,2834,151
316,성동구,서울방송고등학교,S010000585,1,1,1,87.6,37.547773,127.011036,1120011300,1,2834,151
317,성동구,성수고등학교,S010005523,1,1,1,406.6,37.547342,127.038253,1120011400,0,2834,151
318,성동구,성수공업고등학교,S010000592,1,0,1,306.5,37.540540,127.051298,1120011500,1,2834,151
319,성동구,한양대학교사범대학부속고등학교,S010000557,1,1,1,137.0,37.561919,127.042326,1120010600,1,2834,151

In [22]:
data_reduce.isnull().sum()

구                         0
학교명                       0
학교코드                      0
내부상담_실시여부                 0
외부상담_실시여부                 0
wee클래스_운영여부               0
학교폭력_예방교육_평균교육시간(1학급당)    0
위도                        0
경도                        0
법정동코드                     0
500미터내_파출소개수              0
방범용CCTV                   0
어린이보호구역CCTV               0
dtype: int64

In [23]:
a=data_reduce[data_reduce['방범용CCTV'].isnull()].index
data_reduce.iloc[a]

Empty DataFrame
Columns: [구, 학교명, 학교코드, 내부상담_실시여부, 외부상담_실시여부, wee클래스_운영여부, 학교폭력_예방교육_평균교육시간(1학급당), 위도, 경도, 법정동코드, 500미터내_파출소개수, 방범용CCTV, 어린이보호구역CCTV]
Index: []

In [24]:
data_reduce.to_csv('경감지수_전처리2.csv', index=False)