In [175]:
import pandas as pd

In [176]:
df=pd.read_csv('./X_joint_data.csv')

In [177]:
count = df['index'].value_counts()
count_df = pd.DataFrame(count).sort_index()

In [178]:
videos = list(set(df['index']))
videos.sort()

frames = []
for v in videos:
    frames.append(df[df['index'] == v].index)

In [179]:
target_frame = 32
slices = []
for frame in frames:
        sl = []
        for f in frame:     
            if f <= frame[-1] - target_frame + 1:
                sl.append((f, f + target_frame - 1))
        slices.append(sl)

In [180]:
for sl in slices:
    for (start,end) in sl:
        temp = (start,end)
        st=temp[0]
        ed=temp[1]

In [181]:
df1 = pd.DataFrame(columns=['index', 'p_1','p_2'])
for sl in slices:
    for (start, end) in sl:
        temdf=df.iloc[start:end+1] # 자른 df
        df1=pd.concat([df1, temdf],ignore_index=True)

In [183]:
df1.reset_index(drop=True,inplace=True)

In [184]:
df1

,index,p_1,p_2
0,assault-falldown0,"380.343, 134.948, 358.107, 162.386, 355.5, 163...","495.219, 138.845, 517.383, 163.653, 514.745, 1..."
1,assault-falldown0,"380.305, 137.513, 358.076, 162.39, 352.898, 16...","487.311, 137.525, 509.543, 162.376, 505.647, 1..."
2,assault-falldown0,"380.285, 134.96, 356.785, 162.383, 351.604, 16...","484.767, 136.251, 506.958, 162.33, 505.55, 162..."
3,assault-falldown0,"380.254, 134.954, 354.209, 162.368, 350.323, 1...","482.122, 134.921, 505.651, 162.403, 502.978, 1..."
4,assault-falldown0,"376.403, 138.798, 351.592, 162.372, 350.262, 1...","474.302, 137.56, 497.76, 163.622, 495.174, 162..."
...,...,...,...
146171,smoke-stand9,"522.551, 144.064, 536.966, 181.901, 517.351, 1...","298.079, 161.022, 282.402, 193.69, 275.852, 19..."
146172,smoke-stand9,"521.286, 144.074, 536.962, 181.909, 517.342, 1...","298.08, 161.009, 281.104, 193.665, 274.604, 19..."
146173,smoke-stand9,"522.551, 144.066, 536.961, 181.906, 517.345, 1...","298.093, 161.012, 281.117, 193.689, 274.555, 1..."
146174,smoke-stand9,"522.55, 144.062, 536.961, 181.908, 517.343, 18...","298.119, 161.01, 281.093, 193.652, 273.267, 19..."
146175,smoke-stand9,"521.282, 144.08, 536.968, 181.913, 517.336, 18...","298.138, 161.045, 279.813, 193.715, 271.953, 1..."

In [185]:
df1.to_csv('./sliding.csv',index=)